// Navigation code here

.nav{
    // background: yellow;
    width: 30%;

    nav{
        .flex-just-even();
        margin-bottom: 1%;

        a{
            text-decoration: none;
            font-size: @river-bend;
        }
        a:hover{
            font-size: 1.5rem;
        }
    }
}